
@media (max-width: 500px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }


    body {
        background-color: #fff2db;
        height: auto;
        padding-bottom: 30vw;
    }

    .button-group button {
        margin-right: 10px;
        padding: 10px 20px;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 2vw;
        font-size: 3vw;
        font-family: bold;
        margin-bottom: 10px;
        border-radius: 7px;
    }

    .button-group button.active {
        color: white;
        
    }


    .image-grid img {
        width: 80%;
        height: auto;
        object-fit: cover;
    }

    .image-grid {
        display: flex;
        flex-direction: column;

        justify-content: center;
        /* ← 横並びから縦並びに変更！ */
        gap: 10px;
    }

    .one {
        background-color: #f6e4ff;
    }

    /* ピンク系 */
    .two {
        background-color: #ffe2f2;
    }

    /* 赤ピンク系 */
    .three {
        background-color: #ffe6cc;
    }

    /* ワインレッド系 */
    .four {
        background-color: #fff3a3;
    }

    /* 紫系 */
    .five {
        background-color: #cacfff;
    }

    /* 紺系 */
    .six {
        background-color: #cbeeff;
    }

    .seven {
        background-color: #e3fad1;
    }

    .button-group {
        margin-bottom: 20px;
        margin-left:10vw;
    }
    .one.active {
        background-color: #d278ff;
        color: white
    }

    .two.active {
        background-color: #ff85d2;
        color: white
    }

    .three.active {
        background-color: #ffb162;
        color: white
    }

    .four.active {
        background-color: #f1df3c;
        color: white
    }

    .five.active {
        background-color: #746aff;
        color: white
    }

    .six.active {
        background-color: #31b0ff;
        color: white
    }

    .seven.active {
        background-color: #5edd4a;
        color: white
    }

    .image {
        display: flex;
        justify-content: center;
    }

        .image-grid img {
        width: 80vw;
        height: auto;
        object-fit: cover;
    }

    .image {
        display: flex;
        justify-content: center;
    }

    .image-grid {
        display: flex;
        flex-direction: column;
        /* ← 横並びから縦並びに変更！ */
        gap: 10px;
    }


    .kikaku {
        display: flex;
        margin-left: 10vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }

    .kikaku img {
        width: 40vw;
    }

    .searchbar img {
        width: 90vw;

    }

    .center {
        justify-content: center;
        display: flex;
    }

    .center img {
        justify-content: center;
        display: flex;
    }

    .ichiran {
        margin-top: -7vw;
    }

    .ichiran img {
        width: 80vw;
    }

    .shokai {
        margin-top: 7vw;
    }

    .bar img {
        display: flex;
        justify-content: center;
        height: 13vw;
    }

    .barr {
        display: flex;
        justify-content: center;
        gap: 10vw;
    }

    .bottom-tab {
        z-index: 100;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 600px;
        background: #ffffff;
        padding: 15px;
        display: flex;
        justify-content: space-around;
        height: 100px;
    }

}






@media (min-width: 500px) {
    .bg-wrapper {
        background: url('img/back.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: auto;
        height: auto;
    }

    .container {
        max-width: 500px;
        margin: 0 auto;
        /* padding: 40px 16px; */
        background: #fff2db;
        position: relative;
        z-index: 1;
        height: auto;
    }

    body {
        background-color: #fff2db;
        height: auto;
    }

    .button-group {
        margin-bottom: 20px;

    }

    .button-group button {
        margin-right: 10px;
        padding: 10px 20px;
        /* background-color: #fff; */
        border: 1px solid #ccc;
        cursor: pointer;
        margin-left: 30px;
        margin-bottom: 10px;
        border-radius: 7px;
    }

    .one {
        background-color: #f6e4ff;
    }

    /* ピンク系 */
    .two {
        background-color: #ffe2f2;
    }

    /* 赤ピンク系 */
    .three {
        background-color: #ffe6cc;
    }

    /* ワインレッド系 */
    .four {
        background-color: #fff3a3;
    }

    /* 紫系 */
    .five {
        background-color: #cacfff;
    }

    /* 紺系 */
    .six {
        background-color: #cbeeff;
    }

    .seven {
        background-color: #e3fad1;
    }


    .one.active {
        background-color: #d278ff;
        color: white
    }

    .two.active {
        background-color: #ff85d2;
        color: white
    }

    .three.active {
        background-color: #ffb162;
        color: white
    }

    .four.active {
        background-color: #f1df3c;
        color: white
    }

    .five.active {
        background-color: #746aff;
        color: white
    }

    .six.active {
        background-color: #31b0ff;
        color: white
    }

    .seven.active {
        background-color: #5edd4a;
        color: white
    }


    .image-grid img {
        width: 400px;
        height: auto;
        object-fit: cover;
    }

    .image {
        display: flex;
        justify-content: center;
    }

    .image-grid {
        display: flex;
        flex-direction: column;
        /* ← 横並びから縦並びに変更！ */
        gap: 10px;
    }


    .kikaku {
        display: flex;
        margin-left: 40px;
        margin-bottom: 40px;
        margin-top: 0px;
        padding-top: 40px;
    }

    .kikaku img {
        width: 180px;
    }

    .searchbar img {
        width: 400px;
        margin-bottom: 30px;
    }

    .center {
        justify-content: center;
        display: flex;
    }

    .center img {
        justify-content: center;
        display: flex;
    }

    /* 
    .ichiran {
        margin-top: 30px;
    } */

    .ichiran img {
        width: 80%;
    }

    .shokai {
        padding-bottom: 10px;
    }


    .beige {
        background-color: #fff2db;
        height: 100px;
    }



    .bottom-tab {
        z-index: 100;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 500px;
        background: #ffffff;
        display: flex;
        justify-content: space-around;
        height: 100px;
        margin-left: 0px;
        margin-top:50px;
    }

    .tab-item {
        width: 60px;
        height: 60px;
        background: #14325c;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 14px;
        font-style: italic;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2),
            -5px -5px 8px rgba(255, 255, 255, 0.3);
        transition: all 0.3s ease;
    }

    .tab-item i {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .tab-item:hover {
        transform: scale(1.1);
    }

    .bar img {
        display: flex;
        justify-content: center;
        height: 60px;
        margin-top: 20px;
    }

    .barr {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

}
